body {	
	font-family: 'Monaco', monospace;
	background-color: white;
}

#site-title{
	color: white;
	background-color: black;
	display : flex;
	justify-content : center;
    align-items : center;
}

.onglet{
	color: white;
	background-color: black;
	margin-top: 15%;
}

#ascii{
	margin-top: 10%;
}
#content{
    transition:all 1s ease-in;
}
#void{
    display:none;
    text-align: center;
    font-size: 3rem;
    color:red;
    font-weight: 900;
}

@media screen and (max-width:768px) {
    /* WOW EVERYTHING IS UPSIDE DOWN */
    #content{
        transform:rotate(180deg);
    }
    #void{
        display:block;
    }
}