*{
    padding:0;
    margin:0;
}
body{
    /*background-image:
            url("https://images.dog.ceo/breeds/affenpinscher/n02110627_3026.jpg"),
            url("https://images.dog.ceo/breeds/affenpinscher/n02110627_10225.jpg"),
            url("https://images.dog.ceo/breeds/basenji/n02110806_4297.jpg");
    background-position: left top, top, right top;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size:10%, 20%, 10%;*/

}
.row{
    width:100%;
}
img{
    display:inline-block;
}
div, a{
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    display:inline-block;
    font-size: 0;
    margin:0;
    padding:0;
}
a{
    /*animation: glox ease 500ms infinite;*/
}
section{
    font-size: 0;
    margin:0;
    padding:0;
}

@keyframes glox{
    0%{
      transform:scale(1);
    }
    50%{
        transform:scale(1.5);
    }
    100%{
        transform:scale(1);
    }
}