*{
    padding:0;
    margin:0;
}
body{
    /*background-image:
            url("https://images.dog.ceo/breeds/affenpinscher/n02110627_3026.jpg"),
            url("https://images.dog.ceo/breeds/affenpinscher/n02110627_10225.jpg"),
            url("https://images.dog.ceo/breeds/basenji/n02110806_4297.jpg");
    background-position: left top, top, right top;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size:10%, 20%, 10%;*/

}
.row{
    width:100%;
}
img{
    display:inline-block;
}
div{
    background-size: cover;
    background-position: center;
    height:30px;
    display:inline-block;
}